.wishlist-container {
  padding: 60px 20px;
}

.page-header {
  margin-bottom: 40px;
  .display-title {
    font-family: var(--app-font-display);
    font-size: 3rem;
    font-weight: 800;
    line-height: 0.9;
    color: var(--atheneum-primary);
    span {
      -webkit-text-stroke: 1px var(--atheneum-primary);
      color: transparent;
    }
  }
  .subtitle {
    margin-top: 12px;
    font-size: 0.85rem;
    font-style: italic;
    opacity: 0.6;
  }
}

.book-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); // 2 kolom di mobile
  gap: 20px;

  @media (min-width: 992px) {
    grid-template-columns: repeat(4, 1fr); // 4 kolom di desktop
  }
}



.loading-center {
  display: flex;
  justify-content: center;
  padding: 40px;
}
