<ion-tabs>
  <ion-tab-bar
    slot="bottom"
    class="mobile-tab-bar atheneum-tab-bar ion-hide-md-up"
  >
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon name="journal-outline"></ion-icon>
      <ion-label>Beranda</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="category" href="/tabs/category">
      <ion-icon name="grid-outline"></ion-icon>
      <ion-label>Kategori</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="wishlist" href="/tabs/wishlist">
      <ion-icon name="bookmark-outline"></ion-icon>
      <ion-label>Simpan</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
