<header class="home-header">
    <div class="brand">
        <span class="logo-text">ATHENEUM</span>
        <span class="tagline">COLLECTOR'S LIBRARY</span>
    </div>

    <div class="search-trigger" (click)="onSearchClick()">
        <ion-icon name="search-outline"></ion-icon>
        <span>Cari buku favoritmu...</span>
    </div>

    <div class="actions">
        <ion-button fill="clear">
            <ion-icon name="bag-handle-outline" slot="icon-only"></ion-icon>
        </ion-button>
    </div>
</header>